@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}
:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%); /*(graphic design text)*/
  --Dark-blue: hsl(198, 62%, 26%); /*(photography text)*/
  --Dark-moderate-cyan: hsl(168, 34%, 61%); /*(footer)*/
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}
html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
}
header {
  background: center/cover no-repeat url(images/desktop/image-header.jpg);
  min-height: 100vh;
  min-width: 100%;
}

/********************************************************/
/******************* HELPER CLASSES**********************/
/********************************************************/
.vertical--padding-md {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.vertical--padding-lg {
  padding-top: 16rem;
  padding-bottom: 16rem;
}
.horizontal--padding-lg {
  padding-right: 10rem;
  padding-left: 10rem;
}
.align--center {
  text-align: center;
}

/********************************************************/
/*************************GENERAL CLASSES**************************/
/********************************************************/

.heading--primary {
  color: var(--White);
  font-size: 5.6rem;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 8rem;
  letter-spacing: 6px;
}

.heading--secondary {
  font-family: 'Fraunces', serif;
  font-size: 4.4rem;
  margin-bottom: 3rem;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
}

.heading--tertiary {
  text-align: center;
  color: var(--Grayish-blue);
  text-transform: uppercase;
  font-size: 2.2rem;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  margin-bottom: 8rem;
  letter-spacing: 3px;
}

.paragraph {
  font-family: 'Barlow', sans-serif;
  line-height: 1.6;
  font-weight: 600;
}

.hide--nav {
  display: none;
}
/********************************************************/
/*************************HEADER**************************/
/********************************************************/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 4rem 4rem 8rem;
}
.nav--links {
  font-size: 1.6rem;
  list-style: none;
  display: flex;
  gap: 4rem;
}
.nav--link {
  text-decoration: none;
  color: #fff;
}

.mobile--nav-icon {
  color: var(--White);
  cursor: pointer;
  display: none;
}
.logo {
  transform: scale(1.4);
}
.btn--nav {
  text-decoration: none;
  color: var(--Very-dark-desaturated-blue);
  padding: 1.5rem 2rem;
  background-color: var(--White);
  border-radius: 30px;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  transition: all 200ms ease-in;
}
.btn--nav:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--White);
}

.arrow {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}
/********************************************************/
/*************************GALLERY**************************/
/********************************************************/
.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-template-rows: repeat(3, minmax(auto, 1fr));
  justify-items: center;
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery--text {
  align-self: center;
}

.gallery--paragraph {
  font-size: 2rem;
  color: var(--Dark-grayish-blue);
}

.gallery--link {
  display: inline-block;
  margin-top: 5rem;
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  color: var(--Very-dark-desaturated-blue);
  text-transform: uppercase;
  position: relative;
}

.gallery--link::after {
  content: '';
  position: absolute;
  top: 65%;
  left: 0;
  height: 10px;
  width: 110%;
  z-index: -1;
  border-radius: 30px;
  transform: translateX(-5%);
  transition: background-color 200ms ease-in;
}
.gallery--link-yellow::after {
  background-color: rgb(250, 212, 0, 0.2);
}

.gallery--link-yellow:hover::after {
  background-color: rgb(250, 212, 0, 0.9);
}

.gallery--link-red::after {
  background-color: rgb(254, 120, 103, 0.2);
}

.gallery--link-red:hover::after {
  background-color: rgb(254, 120, 103, 0.9);
}

.gallery--img-3,
.gallery--img-4 {
  position: relative;
}
.overlay--text {
  left: 0;
  bottom: 6rem;
  position: absolute;
  width: 100%;
  text-align: center;
}
.overlay--text-heading {
  font-family: 'Fraunces', serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 900;
}
.overlay--paragraph {
  font-size: 2rem;
}
.overlay--text-design {
  color: var(--Dark-desaturated-cyan);
}
.overlay--text-photography {
  color: var(--Dark-blue);
}
.overlay--paragraph-photography {
  padding: 0 3rem;
}
/********************************************************/
/******************TESTIMONIALS SECTION*******************/
/********************************************************/
.testimonials--container {
  display: flex;
  gap: 2rem;
}
.testimonial {
  width: 100%;
}

.client--picture {
  height: 8rem;
  width: 8rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 6rem;
}
.testimonials--paragraph {
  font-size: 2rem;
  color: var(--Very-dark-grayish-blue);
  margin-bottom: 6rem;
  text-align: center;
}

.client--name {
  font-family: 'Fraunces', serif;
  font-size: 2.2rem;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
  margin-bottom: 1rem;
  text-align: center;
}
.client--profession {
  color: var(--Grayish-blue);
  font-size: 1.4rem;
  text-align: center;
}

/********************************************************/
/******************IMAGES SECTION*******************/
/********************************************************/

.images {
  display: flex;
  width: 100%;
}
.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/********************************************************/
/******************FOOTER*******************/
/********************************************************/
footer {
  background-color: var(--Dark-moderate-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .nav--links {
  margin-top: 4rem;
  gap: 10rem;
}

footer .nav--link {
  color: var(--Dark-desaturated-cyan);
  transition: color 200ms ease-in;
}

footer .nav--link:hover {
  color: var(--White);
}

.social--links {
  color: var(--Dark-desaturated-cyan);
  display: flex;
  margin-top: 8rem;
  gap: 3rem;
}

.attribution {
  position: absolute;
  bottom: 2rem;
  font-size: 1.6rem;
  text-align: center;
}
.attribution a {
  color: var(--Dark-desaturated-cyan);
  text-decoration: none;
}

/********************************************************/
/******************MEDIA QUERIES*******************/
/********************************************************/

@media (max-width: 1145px) {
  .horizontal--padding-lg {
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .heading--secondary {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .gallery--paragraph {
    line-height: 1.4;
  }
  .gallery--link {
    margin-top: 3rem;
  }
  .overlay--text {
    bottom: 2rem;
  }
  .overlay--text-heading {
    margin-bottom: 1rem;
  }
}

@media (max-width: 970px) {
  .horizontal--padding-lg {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .vertical--padding-lg {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .heading--secondary {
    font-size: 3.2rem;
  }
  .overlay--paragraph {
    font-size: 1.8rem;
  }
}
@media (max-width: 860px) {
  .horizontal--padding-lg {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .vertical--padding-lg {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .paragraph,
  .testimonials--paragraph,
  .gallery--link {
    font-size: 1.6rem;
  }
  .heading--secondary {
    font-size: 3rem;
  }
  .overlay--text-heading {
    font-size: 2.4rem;
  }
}

@media (max-width: 784px) {
  nav {
    padding: 3rem 3rem 3rem 6rem;
  }
  .heading--primary {
    font-size: 4.8rem;
  }
  .heading--secondary {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
  }
  .overlay--text-heading {
    margin-bottom: 1rem;
  }
  .overlay--paragraph {
    font-size: 1.4rem;
  }
}

@media (max-width: 700px) {
  .horizontal--padding-lg {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .btn--nav {
    padding: 1rem;
  }
  .heading--primary {
    font-size: 4rem;
  }
  .gallery--link {
    margin-top: 2rem;
  }
  .nav--links {
    gap: 2rem;
  }
  .paragraph,
  .gallery--link,
  .btn--nav,
  .nav--link,
  .attribution {
    font-size: 1.4rem;
  }
  .overlay--text {
    bottom: 1rem;
  }
  .overlay--text-heading {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 600px) {
  .horizontal--padding-lg {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  nav {
    padding: 3rem 3rem 3rem 6rem;
  }
  .btn--nav {
    padding: 0.8rem;
  }
  .heading--primary {
    font-size: 3.6rem;
  }
  .heading--secondary {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .overlay--text-heading {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
  }
  .testimonials--container {
    flex-direction: column;
    padding: 0 8rem;
    gap: 6rem;
  }
  .client--picture {
    margin-bottom: 2rem;
  }
  .client--name {
    font-size: 2rem;
  }
  .testimonials--paragraph {
    margin-bottom: 2rem;
  }
}

@media (max-width: 560px) {
  nav {
    padding: 2rem 4rem;
  }
  .mobile--nav-icon {
    display: inline-block;
    transform: scale(1.2);
  }
  nav .nav--links {
    display: none;
    background-color: var(--White);
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 4rem 12rem;
    gap: 4rem;
    z-index: 999;
  }
  nav .nav--links::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    width: 0;
    height: 0;
    border-bottom: 30px solid var(--White);
    border-left: 30px solid transparent;
  }
  .nav--link {
    color: var(--Grayish-blue);
    font-size: 1.8rem;
  }
  .btn--nav {
    background-color: var(--Yellow);
    padding: 1.5rem 3rem;
  }
  .heading--primary {
    font-size: 4.2rem;
    padding: 0 4rem;
    line-height: 1.6;
  }
  .logo {
    transform: scale(1.2) translateY(2px);
  }
  .testimonials--container {
    padding: 0 4rem;
    gap: 4rem;
  }
  .heading--secondary {
    font-size: 1.7rem;
    margin-bottom: 0.6rem;
  }
  .heading--tertiary {
    margin-bottom: 6rem;
  }

  .paragraph,
  .gallery--link,
  .btn--nav,
  .nav--link,
  .attribution,
  .overlay--paragraph {
    font-size: 1.2rem;
  }
  .gallery--link {
    margin-top: 1.2rem;
  }

  .overlay--text-heading {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
  }
  .overlay--paragraph-photography {
    padding: 0 2rem;
  }
}

@media (max-width: 469px) {
  .heading--secondary {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  .heading--tertiary {
    margin-bottom: 6rem;
  }
  .overlay--text-heading {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .gallery--paragraph,
  .testimonials--paragraph,
  .gallery--link,
  .btn--nav,
  .nav--link,
  .attribution,
  .overlay--paragraph {
    font-size: 1.4rem;
  }
  .gallery--link {
    margin-top: 3rem;
  }
  .overlay--text {
    bottom: 3rem;
  }
  footer .nav--links {
    gap: 6rem;
  }
}

@media (max-width: 430px) {
  .horizontal--padding-lg {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .heading--primary {
    font-size: 4rem;
    margin-top: 8rem;
    line-height: 1.4;
    padding: 0;
  }
  .heading--secondary {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .heading--tertiary {
    font-size: 1.8rem;
  }
  .gallery--link {
    display: block;
  }
  .gallery--link::after {
    left: 50%;
    transform: translateX(-50%);
    width: 36%;
  }
  .paragraph,
  .gallery--link,
  .btn--nav,
  .nav--link,
  .attribution,
  .overlay--paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  .gallery--img-1 {
    grid-row: 1;
  }
  .gallery--text {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .overlay--text {
    bottom: 4rem;
  }
  .overlay--text-heading {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  .testimonials--container {
    padding: 0;
    gap: 6rem;
  }
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
